/**
 * Media Style Shart here
 */

/* Media min width 1024. */
@media (min-width:1024px) {
  header #logo {
    float: left;
  }
  header .logo {
    text-align: left;
    float: left;
  }
  header #navigation ul {
    display: block;
  }
  header .tinynav {
    display: none;
  }
  .banner img {
    float: right;
  }
  .banner h2 {
    margin-bottom: 15px;
  }
  .footer .first_bottom,
  .footer .third_bottom {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .footer .second_bottom,
  .footer .fourth_bottom {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  header #secondary-menu {
    margin-top: -32px;
  }
  header .region-header {
    float: none;
  }
  .header .header-top {
    height: auto;
  }
}
/* Media min width 768. */
@media (min-width: 768px) {
  #main .left-section {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
  #main aside {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
  .main .first_widget,
  .main .second_widget {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .main .four-column-left {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .main .four-column-right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
  .main .third_widget {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  .main .first_column,
  .main .third_column {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .main .second_column,
  .main .fourth_column {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
  .footer .left-footer {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .footer .right-footer {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

/* Media min width 200. */
@media (min-width:200px) {
  ul.inline li,
  ul.links.inline li {
    float: left;
    margin: 0;
    padding: 0;
  }
}
