/**
 * Amazing bird main css
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

tt,
code,
kbd,
samp {
  font-family: monospace;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #575757;
  line-height: 24px;
}

.page-wrapper ul,
.page-wrapper ol {
  list-style: none;
  clear: both;
}

.page-wrapper ul li,
.page-wrapper ol li {
  margin: 0;
  margin-bottom: 10px;
}

.page-wrapper ul.dropbutton li {
  margin-bottom: 0;
}
.page-wrapper ul li {
  background: url('../images/listicon.png?1415946848') no-repeat left 7px;
  padding-left: 23px;
  list-style: none;
}

.page-wrapper form ul li {
  background: transparent;
  list-style: none;
  padding-left: 0;
}

.page-wrapper form .vertical-tabs ul li {
  margin-bottom: 0;
}

.page-wrapper ol li {
  list-style-type: decimal;
  margin-left: 23px;
}

a {
  color: #84bd53;
  text-decoration: none;
  outline: none;
  display: inline-block;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

a:hover {
  text-decoration: underline;
  color: #0f7fc3;
}

fieldset {
  border: 1px solid #d0d0d0;
  padding: 10px;
}

fieldset legend {
  padding: 2px 5px;
  background: #ffffff;
}

form {
  color: #575757;
  font-size: 16px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type=text],
form input[type=email],
form input[type=password],
input[type=search],
form input[type=url],
form input[type=tel],
form input[type=number],
form input[type=date],
form input[type=month],
form input[type=week],
form input[type=datetime],
form input[type=datetime-local],
form textarea {
  border: 1px solid #d0d0d0;
  width: 98%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px .5%;
  margin: 0;
  max-width: 549px;
  margin-bottom: 10px;
}

form select {
  border: 1px solid #d0d0d0;
  width: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 5px;
  margin: 0;
  margin-bottom: 10px;
  max-width: 579px;
  background: url(../images/select.png) no-repeat;
  background-size: 32px 12px;
  background-position: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form input[type=file] {
  border: 1px solid #d0d0d0;
  width: 99%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px .5%;
  margin: 0;
  margin-bottom: 10px;
  max-width: 561px;
}

form textarea {
  height: 100px;
  max-width: 560px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
}

form .grippie {
  max-width: 560px;
}

form .description {
  max-width: 578px;
  padding: 5px 0;
}

#edit-actions .dropbutton-wrapper {
  margin-right: 15px;
}

.js-form-type-date {
  display: inline;
}

dl {
  margin-bottom: 10px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 10px;
  padding-bottom: 10px;
}

small {
  font-size: 0.75em;
}

blockquote,
q {
  quotes: none;
  border: 1px solid #ccc;
  border-left: 10px solid #ccc;
  padding: 24px 28px;
  margin-bottom: 10px;
  display: block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #d0d0d0;
}

table tr.even,
table tr:nth-child(even) {
  background-color: #f1f1f0;
}

table tr.odd {
  background-color: #ffffff;
}

table tr th {
  padding: 10px;
  font-weight: bold;
  background: #e5e5e5;
  text-align: left;
}

table tr th a {
  color: #575757;
}

table tr td {
  padding: 10px;
  border-top: 1px solid #d0d0d0;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.5%;
  background: #fff;
}

figure {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  padding: 5px 5px 0px;
  display: inline-block;
  margin-bottom: 10px;
  background: #ffffff;
}

hr {
  border: none;
  border-top: 1px solid #d0d0d0;
  height: 1px;
}

p {
  margin-bottom: 10px;
}

pre {
  word-wrap: break-word;
  padding: 10px;
  border: 1px solid #d0d0d0;
  margin-bottom: 10px;
}

/*
 * ------------ Heading tag start here ------------
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 24px;
  color: #84bd53;
  margin-bottom: 10px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #84bd53;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #0f7fc3;
  text-decoration: none;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-size: 1.875em;
  line-height: 48px;
  color: #0f7fc3;
}

h2 a {
  color: #0f7fc3;
}

h2 a:hover {
  color: #84bd53;
}

h3 {
  font-size: 1.625em;
  line-height: 48px;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.375em;
}

h6 {
  font-size: 1.25em;
}

/*
 * ------------ Heading tag end here ------------
 */

/*
 * ------------ Button style start here ------------
 */

.button,
input[type=submit],
input[type=button],
input[type=reset],
button[type=submit],
button[type=button],
button[type=reset],
.main-section .links li a,
.header .links li a {
  padding: 14px 17px;
  background-color: #82bb50;
  margin-right: 10px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
button[type=submit]:hover,
.main-section .links li a,
.header .links li a {
  background: #0f7fc3;
  color: #fff;
  text-decoration: none;
}

input[disabled=disabled]:hover {
  background: #82bb50;
}

.but-blue {
  background-color: #0f7fc3;
}

.but-blue:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: #0f7fc3;
}

/*
 * ------------ Button style end here ------------
 */

/*
 * ------------ Message style start here ------------
 */

div.messages {
  background: #fba4a4;
  color: #b72a2a;
  padding: 10px;
  margin: 0 0 15px 0;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-left: 35px;
}

div.messages li {
  background: none;
  padding: 0;
}

div.messages a {
  text-decoration: underline;
}

div.messages.error {
  background: url('../images/erroricon.png?1415947083') #fba4a4 no-repeat 10px 10px;
  color: #b72a2a;
}

div.messages.error a {
  color: #b72a2a;
}

div.messages.warning {
  background: url('../images/waringicon.png?1415947098') #ffeab2 no-repeat 15px 10px;
  color: #b38200;
}

div.messages.warning a {
  color: #b38200;
}

div.messages.status {
  background: url('../images/successicon.png?1415947122') #c3e0aa no-repeat 10px 10px;
  color: #689243;
}

div.messages.status a {
  color: #689243;
}

/*
 * ------------ Message style end here ------------
 */

.mn-sec {
  padding-bottom: 40px;
}

body .operations li {
  background: none;
}

.page-wrapper .field-type-text-long {
  margin-bottom: 10px;
}

.page-wrapper .filter-guidelines,
.page-wrapper .filter-wrapper .form-item,
.page-wrapper .filter-help {
  padding: 0;
}

.page-wrapper .filter-wrapper {
  padding: 10px;
  max-width: 540px;
}

.page-wrapper .links li {
  padding: 0;
  background: none;
  margin: 10px 0;
  display: inline-block;
}

.page-wrapper .tabs.primary {
  padding: 0;
  margin: 0;
  clear: both;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 10px;
}

.page-wrapper .tabs.primary > li {
  background: none;
  padding-left: 0;
  display: inline-block;
  margin: 0;
}

.page-wrapper .tabs.primary > li.active a,
.page-wrapper .tabs.primary > li:hover a {
  background: #0f7fc3;
  color: #ffffff;
}

.page-wrapper .tabs.primary > li a {
  background: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  background: #e5e5e5;
  text-decoration: none;
  line-height: 24px;
  color: #0f7fc3;
  border: none;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
}

.page-wrapper .tabs.secondary {
  padding: 0;
  margin: 0;
  clear: both;
}

.page-wrapper .tabs.secondary > li {
  background: none;
  padding: 0;
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid #d0d0d0;
  border-right: none;
}

.page-wrapper .tabs.secondary > li:first-child {
  border-left: none;
}

.page-wrapper .tabs.secondary > li.active a,
.page-wrapper .tabs.secondary > li:hover a {
  border-bottom: 3px solid #84bd53;
  color: #0f7fc3;
}

.page-wrapper .tabs.secondary > li a {
  background: none;
  border-bottom: 3px solid #ffffff;
  margin: 0;
  padding-bottom: 5px;
  color: #d0d0d0;
  text-decoration: none;
}

.page-wrapper .element-invisible {
  display: none;
}

.page-wrapper #comment-body-add-more-wrapper label {
  display: inline-block;
  margin-right: 15px;
}

.page-wrapper #comment-body-add-more-wrapper select {
  width: inherit;
}

.page-wrapper table a,
.page-wrapper table input[type=submit] {
  padding: 5px 13px;
}

.page-wrapper .krumo-node li {
  padding-left: 0;
  background-image: none;
}

.wrapper-contend {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 20px;
}

.wrapper-contend:after {
  content: " ";
  display: block;
  clear: both;
}

/**
 * Header style section start here
 */

.site-branding__text {
  float: left;
}
.site-branding__name {
  padding-top: 18px;
  text-transform: uppercase;
  font-size: 25px;
  padding-left: 5px;
}
.site-branding__slogan {
  text-align: right;
  font-size: 13px;
}

header {
  padding-bottom: 0;
}
header #logo {
  margin-bottom: 0;
}

header #navigation {
  float: left;
  clear: both;
  background-color: #0f7fc3;
  width: 100%;
  text-align: center;
}

header #navigation .links li {
  background: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

header #navigation .links li.active a,
header #navigation .links li:hover a {
  background: #005d95;
}

header #navigation .links li a {
  background: none;
  color: #d0d0d0;
  margin: 0 10px;
  padding: 18px 15px;
  color: #ffffff;
}

header #navigation .links li a:hover,
header #navigation .links li a.active {
  color: #ffffff;
}

header .logo {
  display: block;
  padding: 17px 0 2px 0;
  text-align: center;
}

header .logo img {
  padding: 0;
  border: none;
  background: none;
}

header #navigation ul {
  display: none;
}

header #secondary-menu li {
  margin: 0;
  padding-bottom: 0;
  float: left;
}

header #secondary-menu li a {
  padding: 5px 15px;
  margin-bottom: 0;
}

header .tinynav {
  margin: 10px 0;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 12px;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: url(../images/select.png) no-repeat #fff;
  background-size: 27px 10px;
  background-position: right;
}

header #secondary-menu {
  float: right;
  margin-top: 21px;
}

header #navigation .links li a.is-active {
  background-color: #005d95;
}

header #navigation .contextual ul {
  display: none;
}

header #navigation .contextual.open ul {
  display: block;
}

summary {
  padding: 0.2em 0.5em;
}

details {
  border: 1px solid #ccc;
  margin-bottom: 1em;
}

header .region-header {
  float: left;
}

/**
 * Header style end here
 */

/**
 * Common style 8 end here
 */

.node__links {
  overflow: hidden;
}

.feed-icons {
  display: none;
}

.btm-line {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 5px;
}

.page-wrapper .breadcrumb ol li {
  margin-left: 0;
  list-style-type: none;
}

.menu-toggle {
  display: none;
}

/**
 * Common style 8 end here.
 */

.top-bar {
  background: #84bd53;
}

.top-bar .top-bar-right {
  float: right;
  height: 5px;
  background: #0f7fc3;
  width: 50%;
}

.container-inline input[type=submit] {
  padding: 7px 17px;
}

ul.inline,
ul.links.inline {
  display: block;
}

ul.inline li,
ul.links.inline li {
  display: inherit;
  padding: 11px 0px;
}

.header {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
  background-image: -moz-linear-gradient(#ffffff, #f6f6f6);
  background-image: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background-image: linear-gradient(#ffffff, #f6f6f6);
}

.header .header-top {
  padding-bottom: 11px;
  height: 65px;
}

.comment_forbidden a {
  margin-left: 10px;
}

.comment_forbidden a:first-child {
  margin-left: 0;
}

.region-siderbar-right .form-actions {
  margin-bottom: 0;
}

/*--------------- banner content start here -----------------*/

.banner {
  background: url('../images/banner_bg.png?1413629228') no-repeat center bottom, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyYmI1MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjE1MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: url('../images/banner_bg.png?1413629228') no-repeat center bottom, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #82bb50), color-stop(100%, #7db151));
  background: url('../images/banner_bg.png?1413629228') no-repeat center bottom, -moz-linear-gradient(top, #82bb50, #7db151);
  background: url('../images/banner_bg.png?1413629228') no-repeat center bottom, -webkit-linear-gradient(top, #82bb50, #7db151);
  background: url('../images/banner_bg.png?1413629228') no-repeat center bottom, linear-gradient(to bottom, #82bb50, #7db151);
  padding: 50px 0;
}

.banner h2 {
  font-size: 2.75em;
  color: #fff;
}

.banner p {
  font-size: 1.375em;
  color: #ffffff;
  line-height: 29px;
}

.banner .more-but {
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner .more-but a {
  font-size: 1.375em;
}

/*---- banner text center start here ----*/
.ban-txt {
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
}
/*---- banner text center end here ----*/

button.slick-arrow {
  z-index: 9;
}
.slick-slider .slick-next {
  right: 0;
  margin: 0;
  background: transparent;
  width: 55px;
  height: 35px;
  padding: 0;
  margin: 0;
}

.slick-slider .slick-prev {
  left: 0;
  margin: 0;
  background: transparent;
  width: 55px;
  height: 35px;
  padding: 0;
  margin: 0;
}

.slick-prev,
.slick-next {
  opacity: 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.slick-initialized:hover .slick-prev,
.slick-initialized:hover .slick-next {
  opacity: 1;
}

.slick-initialized:hover .slick-prev {
  left: 10px;
  background: #222;
  opacity: 0.7;
}

.slick-initialized:hover .slick-next {
  right: 10px;
  background: #222;
  opacity: 0.7;
}

/*--------------- banner content end here -----------------*/

.block-search form {
  padding-top: 10px;
}

/**
 * User Register form start here
 */
.user-register-form #edit-mail--description,
.user-register-form #edit-name--description,
.user-register-form #edit-user-picture-0-upload--description {
  display: none;
}

/**
 * Main page style start here
 */

#main {
  margin-top: 10px;
}

#main .node-blog {
  border-top: 1px solid #d0d0d0;
}

#main .node-blog:first-child {
  border: none;
}

#main aside .block h2 {
  padding: 0px 10px;
  font-size: 1.25em;
  color: #ffffff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0OTNjZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBmN2ZjMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3493cd), color-stop(100%, #0f7fc3));
  background-image: -moz-linear-gradient(#3493cd, #0f7fc3);
  background-image: -webkit-linear-gradient(#3493cd, #0f7fc3);
  background-image: linear-gradient(#3493cd, #0f7fc3);
  margin: -15px -15px 15px -15px;
}

#main aside .block {
  border: 1px solid #d0d0d0;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 15px;
}

#main aside .block .content {
  padding: 0px 10px;
}

#main .comment-wrapper {
  clear: both;
}

#main .comment-wrapper .comment-form.title {
  font-size: 1.625em;
  color: #84bd53;
  border-bottom: 1px solid #d0d0d0;
}

#main .comment-wrapper .comment {
  padding: 10px;
  border: 1px solid #d0d0d0;
  margin-bottom: 10px;
}

#main .comment-wrapper .indented {
  margin-left: 25px;
}

#main .breadcrumb {
  padding-bottom: 10px;
}

#main .breadcrumb a {
  padding-left: 5px;
}

#main .breadcrumb a:first-child {
  padding-left: 0;
}

.more-link a {
  padding: 14px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  float: left;
  margin-bottom: 10px;
}

.main .four-column-left {
  margin-bottom: 10px;
}

.main .four-column-left > div > div {
  border: 1px solid #d0d0d0;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.main .four-column-right > div > div {
  border: 1px solid #d0d0d0;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.main .three-column > div > div {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  margin-bottom: 10px;
}

.block-menu ul.links.inline li {
  float: none;
}

.header .block-menu ul.links.inline li {
  float: left;
}

/**
 * Main section style end here
 */

/**
 * Footer section style start here
 */

.footer h2 {
  font-size: 1.25em;
}

.footer .content {
  margin-bottom: 10px;
}

.footer .copy {
  background: #bad7a1;
  color: #689243;
  padding: 20px 0;
  text-align: center;
}

.footer .copy a {
  color: #0f7fc3;
}

.footer .copy a:hover {
  color: #0f7fc3;
}

footer .third_bottom ul.links li {
  float: none;
  background: url('../images/listicon.png?1415946848') no-repeat left 7px;
  padding-left: 23px;
  list-style: none;
}

footer .third_bottom ul.links li a {
  padding: 0;
  border: none;
  margin: 0;
  background: transparent;
  color: #84bd53;
  text-decoration: inherit;
  border-radius: 0;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

footer .third_bottom ul.links li a:hover {
  text-decoration: underline;
  color: #0f7fc3;
}

/**
 * Footer section end here
 */

.home-slider img {
  max-width: 100%;
}

@media (max-width:1024px) {
  .header #logo {
    float: left;
  }
  header #secondary-menu {
    position: relative;
    top: 58px;
  }
  .region-primary-menu .menu-toggle {
    display: block;
    width: 30px;
    height: 30px;
    margin: 15px 0;
  }
  .region-primary-menu .menu-toggle a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/menu.svg) no-repeat;
    background-size: 100%;
  }
  .header #navigation ul {
    position: absolute;
    background: #0f7fc3;
    display: none;
    left: -20px;
    right: -20px;
    max-width: 320px;
    box-shadow: 0 1px 1px #333;
    z-index: 999;
  }
  .header #navigation ul li {
    float: none;
    text-align: left;
  }
  .header #navigation ul li a {
    display: block;
    border-radius: 0;
    padding: 6px 20px;
    border-top: 1px solid #fff;
    margin: 0;
  }
}
