{#
/**
 * @file
 * Amazing Bird's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig 
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_content: Items for the top content region.
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.page_title: Items for the page title region.
 * - page.tabs: Items for the tabs region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the Siderbar First.
 * - page.first_column: Items for the first column region.
 * - page.second_column: Items for the second column region.
 * - page.third_column: Items for the third column region.
 * - page.fourth_column: Items for the fourth column region.
 * - page.first_widget: Items for the first widget region.
 * - page.second_widget: Items for the second widget region.
 * - page.third_widget: Items for the third widget region.
 * - page.first_bottom: Items for the first bottom.
 * - page.second_bottom: Items for the second bottom.
 * - page.third_bottom: Items for the third bottom.
 * - page.fourth_bottom: Items for the fourth bottom.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- Page Wrapper Start here. -->
<div id="page-wrapper" class="page-wrapper">
  <div class="top-bar clearfix">
    <div class="top-bar-right">&nbsp;</div>
  </div>
  <div id="page">
    <!-- Header start. -->
    <header class="header" role="banner" aria-label="{{ 'Site header'|t}}">
      <div class="wrapper-contend header-top">
        {{ page.header }}
        <div id="secondary-menu" class="amaz-sec-menu">
          {{ page.secondary_menu }}
        </div>
      </div>
      <div class="clearfix">
        <div id="navigation">
          <div class="wrapper-contend">
            {{ page.primary_menu }}
          </div>
        </div>
      </div>
    </header>
    <!-- Header end. -->

    {% if is_front %}
      {% if banner_layouts == 'ban-slider' %}
       
        <!-- Slider start here. -->
        {% if slider %}
        {{ attach_library('amazing_bird/slick-slider') }}
          <div class="home-slider">
            <!-- Home page banner section start here. -->
            {% for slide in slider %}
              <div class="banner">
                <div class="wrapper-contend {{ banner_layouts }}">
                  {% if slide.src %}
                    <img alt="banner" width="400" height="280" src="{{ slide.src }}">
                  {% endif %}
                  <div class="clearfix">
                    {% if banner_title %}<h2>{{ slide.title }}</h2>{% endif %}
                    {% if banner_body %}<p>{{ slide.body }}</p>{% endif %}
                    {% if banner_url %}
                      <div class="more-but">
                        <a href="{{ slide.url }}" class="button but-blue">READ MORE</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
            <!-- Home page banner section end here. -->
          </div>
        {% endif %}
        <!-- Slider start here. -->
        
      {% elseif banner_layouts == 'ban-img-txt' or banner_layouts == 'ban-txt' %}
        <!-- Home page banner section start here. -->
        <section class="banner">
          <div class="wrapper-contend {{ banner_layouts }}">
            {% if banner_layouts == 'ban-img-txt' %}
              {% if banner_image %}
                <img alt="banner" width="400" height="280" src="{{ banner_image }}">
              {% else %}
                <img alt="banner" src="themes/amazing_bird/images/no_image.png" />
              {% endif %}
            {% endif %}
            <div class="clearfix">
              {% if banner_title %}<h2>{{ banner_title }}</h2>{% endif %}
              {% if banner_body %}<p>{{ banner_body }}</p>{% endif %}
              {% if banner_url %}
                <div class="more-but">
                  <a href="{{ banner_url }}" class="button but-blue">READ MORE</a>
                </div>
              {% endif %}
            </div>
          </div>
        </section>
        <!-- Home page banner section end here. -->
      {% endif %}
    {% endif %}

    <!-- Section start here. -->
    <div class="wrapper-contend main">
      {% if page.page_top %}
        <!-- Region page top content start here. -->
        <section class="top_content">
          {{ page.page_top }}
        </section>
        <!-- Region page top content end here. -->
      {% endif %}

      {% if is_front %}
        <!-- Three column section start here. -->
        <section class="three-column clearfix">
          {% if page.first_widget %}
            <div class="first_widget">
              {{ page.first_widget }}
            </div>
          {% endif %}
          {% if page.second_widget %}
            <div class="second_widget">
              {{ page.second_widget }}
            </div>
          {% endif %}
          {% if page.third_widget %}
            <div class="third_widget">
              {{ page.third_widget }}
            </div>
          {% endif %}
        </section>
        <!-- Three column section end here. -->
      {% endif %}

      <div id="main" class="clearfix">
        <!-- Left section start here. -->
        <section class="main-section{% if page.sidebar_first %} left-section {% endif %}">
          {% if not is_front and page.breadcrumb %}
            <div id="breadcrumb" class="clearfix">
              {{ page.breadcrumb }}
            </div>
          {% endif %}

          {% if page.page_title %}
            <h1 class="pagetitle">{{ page.page_title }}</h1>
          {% endif %}

          {% if page.tabs %}
            <div id="tabs">
              {{ page.tabs }}
            </div>
          {% endif %}

          {% if messages %}
            <div id="messages" class="clearfix">
              {{ messages }}
            </div>
          {% endif %}

          {% if page.content %}
            {{ page.content }}
          {% endif %}
        </section>
        <!-- Left section end here. -->

        <!-- Right section start here. -->
        {% if page.sidebar_first %}
          <aside>
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
        <!-- Right section end here. -->
      </div>

      {% if page.first_column or page.second_column or page.third_column or page.fourth_column %}
        <!-- Bottom four section start here. -->
        <section class="four-column clearfix">
          <div class="four-column-left">

            {% if page.first_column %}
              <div class="first_column">
                <div class="content_column">
                  {{ page.first_column }}
                </div>
              </div>
            {% endif %}

            {% if page.second_column %}
              <div class="second_column">
                {{ page.second_column }}
              </div>
            {% endif %}
          </div>

          <div class="four-column-right">
            {% if page.third_column %}
              <div class="third_column">
                {{ page.third_column }}
              </div>
            {% endif %}

            {% if page.fourth_column %}
              <div class="fourth_column">
                {{ page.fourth_column }}
              </div>
            {% endif %}
            
          </div>
        </section>
        <!-- Bottom four section end here. -->
      {% endif %}
    </div>
    <!-- Section end here. --->

    <!-- Footer start. -->
    <div class="page-wrapper">
      <footer class="footer">
        <div class="top-bar clearfix">
          <div class="top-bar-right">&nbsp;</div>
        </div>
        <div class="wrapper-contend">
          <div class="left-footer">
            {% if page.first_bottom %}
              <div class="first_bottom">
                {{ page.first_bottom }}
              </div>
            {% endif %}

            {% if page.second_bottom %}
              <div class="second_bottom">
                {{ page.second_bottom }}
              </div>
            {% endif %}
          </div>

          <div class="right-footer">
            {% if page.third_bottom %}
              <div class="third_bottom">
                {{ page.third_bottom }}
              </div>
            {% endif %}

            {% if page.fourth_bottom %}
              <div class="fourth_bottom">
                {{ page.fourth_bottom }}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="copy">
          {{ page.copyright}}
        </div>
      </footer>
    </div>
    <!-- Footer end. -->
  </div>
</div>
<!-- Page Wrapper end here. -->
